<app-header titulo="Cambiar contraseña"> </app-header>

<ion-content>
  <!-- En este caso, se usa la propiedad [formGroup] entre llaves del RF para llamar al RF changePassGroup,
       que se encarga de capturar los datos del formGroup completo, es una "clase" padre, por así decirlo. -->
  <form [formGroup]="changePassGroup" (ngSubmit)="onSubmit()"> 
    <ion-grid>
      <ion-row justify-content-center>
        <ion-item>
          <ion-label position="floating" class="password ion-text-center">Nueva contraseña </ion-label>
          <!-- Se usa la propiedad [formControl]  para obtener la información del input y pasarlo al
               formControl "npass", perteneciente al formGroup changePassGroup, por eso se usa el
               changePassGroup.get('npass'), se indica que se va a "almacenar" en ese formControl -->
          <ion-input [formControl]="changePassGroup.get('npass')" lines="none" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" class="password ion-text-center">Confirmar contraseña </ion-label>
          <!-- Aplica lo mismo que al formControl de arriba, solo que pasa el siguiente formControl 'cnpass',
               que no es más que la confirmación de la contraseña. -->
          <ion-input [formControl]="changePassGroup.get('cnpass')" lines="none" type="password"></ion-input>
        </ion-item>
        <ion-button color="primary" (click)="onSubmit()">Guardar</ion-button>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
 