<ion-header no-border >
  <ion-toolbar color= "primary">
    <ion-buttons slot= "start"> 
<ion-back-button defaultHref= "/app1/tab-technical" text=""></ion-back-button>
    </ion-buttons>
    <ion-title text-capitalize>Notificaciones</ion-title>
  </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list #notificacion>
  
      <ion-item-sliding *ngFor="let n of notifications">
      <ion-item>
  
         <ion-avatar slot="start">
              <img src="/assets/logo1.jpg">
            </ion-avatar>
  
        <ion-label> 
         
          <h3>{{ n.notification.name }}</h3>
          <p>
            {{ n.notification.email }}
          </p>
        </ion-label>
  
       
      </ion-item>
  
       <ion-item-options side="start">
         <!-- <ion-item-option (click)="favorite(item)">Favorite</ion-item-option>
          <ion-item-option color="danger" (click)="share(item)">Share</ion-item-option>
        </ion-item-options>-->
         
          </ion-item-options>
          
        
        <ion-item-options side="end">
            <ion-item-option color="danger" (click)="borrar(n.notification.id)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
               
                </ion-item-option>
              </ion-item-options>    
  
      
    </ion-item-sliding>
    </ion-list>
  
  </ion-content>