<app-header titulo="Detalle de la solicitud"></app-header>

<ion-content *ngFor="let r of request">
    <ion-grid>
        <ion-list>
            <ion-item>
                <ion-label>
                    <ion-text>Servicio:</ion-text> {{r.catalogoServicio.descripcion}}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-text>Marca:</ion-text> {{r.modeloEquipo.marca.nombre}}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-text>Modelo:</ion-text> {{r.modeloEquipo.nombre}}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-text>Problema:</ion-text> {{r.descripcion}}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-text>Fecha de la solicitud:</ion-text> {{r.fechaCreacion}}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-text>Estatus:</ion-text> {{estatus}}
                </ion-label>
            </ion-item>
            <ion-item *ngIf="motivo">
                <ion-label>
                    <ion-text>Motivo de rechazo:</ion-text> {{r.motivoRechazo.descripcion}}
                </ion-label>
            </ion-item>
        </ion-list>
        <ion-button expand="block" color="secondary" routerLink="/timeline-request/{{ r.id }}">
            Ver progeso de reparación
        </ion-button>
    </ion-grid>
</ion-content>