<app-header titulo="Preguntas frecuentes"></app-header>

<ion-content>
    <ion-grid>

        <ion-list *ngFor="let item of faqs; let i = index;" class="accordion-list" lines="none" detail="false" no-padding>
            <ion-item tappable (click)="toggleSection(i)" [ngClass]="{'section-active': item.open, 'section': !item.open}">
                <ion-icon slot="start" name="arrow-dropright" *ngIf="!item.open"></ion-icon>
                <ion-icon slot="start" name="close" *ngIf="item.open"></ion-icon>
                <ion-label> {{ item.pregunta }} </ion-label>
                <p>
                    <ion-label> {{ item.respuesta }} </ion-label>
                </p>
            </ion-item>
            <div *ngIf="item.children && item.open">
                <ion-list *ngFor="let child of item.children; let j = index;" lines="none" class="child-list">
                    <!--<ion-item tappable (click)="close(i,j)" *ngIf="child.children" [ngClass]="{'child-active': child.open, 'child': !child.open}">
              <ion-icon slot="start" name="add" *ngIf="!child.open"></ion-icon>
              <ion-icon slot="start" name="close" *ngIf="child.open"></ion-icon>
              <ion-label> {{ child.name }} </ion-label>
            </ion-item>-->

                    <app-accordion [accordion]="child" *ngIf="!child.children"></app-accordion>

                    <!--<ion-list *ngIf="child.children && child.open" class="accordion-list" lines="none">
              <app-accordion [accordion]="accordion" *ngFor="let accordion of child.children"></app-accordion>
            </ion-list>-->
                </ion-list>
            </div>
        </ion-list>
    </ion-grid>
</ion-content>