<app-header titulo="Detalle de equipo" color="primary"></app-header>

<ion-content *ngFor="let e of equipment">
    <ion-grid>
        <ion-list>

            <ion-item>
                <ion-label>
                    <ion-text>Marca:</ion-text> {{ e.solicitudServicio.modeloEquipo.marca.nombre }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-text>Modelo:</ion-text> {{ e.solicitudServicio.modeloEquipo.nombre}}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-text>Problema:</ion-text> {{e.solicitudServicio.descripcion }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-text>Diagnóstico:</ion-text> {{e.solicitudServicio.revision.diagnostico }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-text>Servicio:</ion-text> {{ e.solicitudServicio.catalogoServicio.descripcion }}
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label>
                    <ion-text>Promoción</ion-text> Dia del amor y la amistad
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-text>Descuento por promoción</ion-text> 20%
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-text>Costo de diagnóstico:</ion-text> {{ e.solicitudServicio.revision.costo}}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-text>Costo de reparación:</ion-text> {{ e.solicitudServicio.presupuesto }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-text>Estatus:</ion-text> {{ e.estatus }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-text id="total">Total a pagar:</ion-text> {{ total }}
                </ion-label>
            </ion-item>
        </ion-list>
        <ion-button expand="block" color="secondary" routerLink="/timeline-client/{{e.id}}">
            Ver progeso de reparación
        </ion-button>
    </ion-grid>
</ion-content>