<app-header titulo="Detalles respuesta"></app-header>

<ion-content padding>

    <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header class="card">
               
                <p> <strong>Fecha:</strong> {{ con.date}}
                </p>
                <p> <strong>Hora:</strong> {{ con.hour}}
                  </p>
                  <p> <strong>Comentario recibido: </strong>{{ con.text}}
                  </p>
                  <p> <strong>Respuesta:</strong> {{ con.respuesta }}
                    </p>
                
            </ion-card-header>
        
           
          </ion-card>
        </ion-col>
      </ion-row>


    </ion-content>
