<app-header titulo="Reclamo"></app-header>

<ion-content padding>

    <form novalidate [formGroup]="serviceGroup">

        <ion-list>

            <ion-item color="secondary">
                <ion-label position="floating">Tipo</ion-label>
                <ion-select cancelText="Cancelar" okText="Seleccionar" required (ionChange)="generarLink()" [formControl]="serviceGroup.get('option')">
                    <ion-select-option *ngFor="let opt of option" [value]="opt">{{ opt.opcion }}</ion-select-option>
                </ion-select>
            </ion-item>







            <ion-item color="secondary">
                <ion-label position="floating">Reclamo</ion-label>

                <ion-textarea type="text" placeholder="Describa su reclamo" formControlName="reclamo" (ionBlur)="generarLink()" required></ion-textarea>
            </ion-item>

        </ion-list>

        <ion-button expand="full" type="submit" [disabled]="serviceGroup.invalid" (click)="presentContact()">
            Enviar
        </ion-button>





    </form>

</ion-content>