<!--Paso 13: Revisar en postman acceder a los datos que se necesitan para interpolarlos y mandar el atributo correcto a la siguiente pagina, POR FAVOR CHEQUEAR
Y PREGUNTAR, por ejemplo acá tuve que enviar el id del servicio y del catalogo, por lo que tuve que modificar el app routing. Son detalles que aparecen a medida 
que necesitemos cosas que habiamos obviado antes.-->
<app-header titulo="Detalle de presupuesto" color="primary"></app-header>

<ion-content *ngFor="let budg of budget">
    <ion-grid>
        <ion-list>
            <ion-item>
                <ion-label>
                    <ion-text><strong> Marca del equipo : </strong></ion-text> {{ budg.modeloEquipo.marca.nombre }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-text><strong> Modelo del equipo:</strong></ion-text> {{ budg.modeloEquipo.nombre }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-text><strong> Cliente : </strong></ion-text> {{budg.usuario.nombre}} {{budg.usuario.apellido}}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <strong> Problema del equipo:</strong>
                    <ion-textarea>{{ budg.descripcion }}</ion-textarea>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-text><strong>Diagnostico:</strong></ion-text> {{ budg.revision.diagnostico }}
                </ion-label>
            </ion-item>
        </ion-list>
        <ion-button expand="block" color="secondary" routerLink="/budget-form/{{budg.id}}/{{budg.catalogoServicio.id}}">
            Generar Presupuesto
        </ion-button>
    </ion-grid>
</ion-content>