<app-header titulo="Detalles del Reclamo"></app-header>

<ion-content>
  <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header class="card">
             
              <p><strong> del equipo: </strong>{{gua.marca}}
              </p>
              <p><strong>Modelo del equipo: </strong>{{gua.model}}
                </p>
                <p><strong>>Problema del equipo: </strong>{{gua.problem}}
                </p>
                <p><strong>Servicio Solicitado: </strong>{{gua.service}}
                </p>
                
                <p><strong>Condiciones: </strong></p>
                 
                  <p>{{ter.term1}}</p>
                 
                  <p> {{ter.term2}}
                  </p>
                 
                 
                 
                    
          </ion-card-header>
          <ion-item>
            <ion-label text-wrap>
            
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

   
     
      

      
</ion-content>


