<ion-content scrollY="false">
  <ion-list>
    <ion-item detail routerLink="/faqs" lines="none" (click)="onClick()">
      Preguntas
    </ion-item>
    <ion-item detail routerLink="/contact-us" lines="none" (click)="onClick()">
      Contáctanos
    </ion-item>
  </ion-list>
</ion-content> 