<app-header titulo="Canal de escucha"></app-header>

<ion-content padding>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button block color="primary" >
          <ion-icon name="add" routerLink="/contact-message">  </ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>

  <ion-list class="animated fadeIn fast">
  

 


  <ion-item *ngFor="let con of contact| filter: findText: 'name'"
  routerLink= "/contact-detail/{{con.id}}" detail>

                <ion-avatar slot="start">
                     <img src="/assets/logo1.jpg">
                   </ion-avatar>
         
              
            
                   <ion-label>
       
                      <h3>{{ con.name }}</h3>
                      <p>
                        {{ con.text }}
                      </p>
                    </ion-label>
              
      
    </ion-item>







</ion-list>

  


</ion-content>
