<app-header titulo="Calificar servicio"></app-header> 

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-list>
                        <ion-item>
                                <ion-label>
                                  <strong>Marca:</strong> {{ rateServ.marca_equipo }}
                                </ion-label>
                              </ion-item>
          
                    <ion-item>
                        <ion-label>
                                <strong>Modelo:</strong> {{ rateServ.modelo_equipo }}
                        </ion-label> 
                    </ion-item>
                    <ion-item>
                        <ion-label>
                                <strong>Diagnóstico:</strong> {{ rateServ.diagnostico }}
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                                <strong>Descripción del trabajo:</strong>
                            <ion-textarea> {{ rateServ.desc_serv }} </ion-textarea>
                        </ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                                <strong>Costo total:</strong> {{ rateServ.costo }}
                        </ion-label>
                    </ion-item>
                </ion-list>
                <ion-button expand="block" color="secondary" routerLink="/rate-service/{{rateServ.id}}">
                    Calificar
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>