<app-header titulo="Detalles de la Garantía"></app-header>

<ion-content>
    <ion-item *ngFor="let gua of guarantee, let ter of term | filter: findText: 'name'">
  </ion-item>

  <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header class="card">
             
              <p><strong>Marca del equipo: </strong>{{gua.marca}}
              </p>
              <p><strong>Modelo del equipo: </strong>{{gua.model}}
                </p>
                <p><strong>Problema del equipo: </strong>{{gua.problem}}
                </p>
                <p><strong>Servicio Solicitado: </strong>{{gua.service}}
                </p>
                <p><strong>Fecha de vencimiento: </strong>{{gua.expiration_date}}
                </p>
                <p><strong>Condiciones:  </strong></p>
                 
                  <p>{{ter.term1}}</p>
                 
                  <p> {{ter.term2}}
                  </p>
                  <p><strong>Estado: </strong>{{cla.estado}}
                  </p>
                 
                  <ion-button expand="block" color="secondary" routerLink="/claims-message/{{gua.id}}/{{ter.id}}" detail>
                    Generar Reclamo
                  </ion-button> 
                    
          </ion-card-header>
          <ion-item>
            <ion-label text-wrap>
            
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

   
     
      

      
</ion-content>



