
.colors {
    background-color: #e7e7e7;
    color: black;
}

ion-label {
    display: block;
    padding-top:1%;
}

div {
    display: inline-block;
}

.info {
    width: 53%;
    margin: 2%;
}

.date {
    margin: 3% 0% 2% 2%;
    vertical-align: top;
}

.equip {
    font-weight: bold;
}

ion-card {
    margin-top: 0%;
}

ion-button {
    margin-left: 0%;
    display: inline-block;
}