<app-header titulo="Incidencias"></app-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" class="animated fadeIn fast">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <ion-grid>
    <ion-row *ngFor="let inc of incidencias">
      <ion-col>
        <ion-card class="colors" detail>
          <div class="date">
            <ion-text>
              <ion-label>
                {{inc.fecha | date}}
              </ion-label>
              <ion-label>
                {{inc.hora}}
              </ion-label>
            </ion-text>
          </div>
          <div class="info">
            <ion-text>
              <ion-label class="equip">
                {{inc.modeloequipo}}
              </ion-label>
              <ion-label>
                {{inc.descripcion}}
              </ion-label>
              <ion-label>
                {{inc.cliente}}     
              </ion-label>
            </ion-text>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>