<app-menu></app-menu>
    <ion-router-outlet id="principal"></ion-router-outlet> 
<ion-header>
  <ion-toolbar color="primary" >
      
      <ion-buttons slot="start">
    
           <ion-button (click)="toggleMenu()">
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button> 
    
          
    
        </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<!--<app-menu></app-menu>
    <ion-router-outlet id="principal"></ion-router-outlet> -->
<ion-content>
  
<section text-center margin-bottom class="center">
 
  <h1 style="font-size:1.4em" style="color:#474747;" no-margin>{{welcomeMessage}} <br>
    {{username}} {{apellido}}</h1>
</section>
<ion-grid fixed >
    



  <ion-row>
    <ion-col size="6">
      <ion-card text-center routerLink="/calendar" color="secondary">
        <ion-icon name="calendar"></ion-icon>
        <h6>Mi calendario</h6>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card text-center routerLink="/my-services" color="tertiary">
        <ion-icon name="build"></ion-icon>
        <h6>Servicios asignados</h6>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card text-center routerLink="/schedule" color="fourth">
        <ion-icon name="clipboard"></ion-icon>
        <h6>Tareas pendientes</h6>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card text-center routerLink="/incidents" color="fifth">
        <ion-icon name="alert"></ion-icon>
        <h6>Mis incidencias</h6>
      </ion-card>
    </ion-col>
  </ion-row>
  
</ion-grid>
</ion-content>