<ion-header>
  <ion-toolbar color= "primary">
    <ion-buttons slot= "start"> 
<ion-back-button defaultHref= "/app/tabs" text=""></ion-back-button>
    </ion-buttons>
    <ion-title text-capitalize>Notificaciones</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>


  <ion-list #notificacion  class="animated fadeIn fast">
     
    <ion-item-sliding *ngFor="let push of mensajes">
    <ion-item>

       <ion-avatar slot="start">
            <img src="/assets/logo1.jpg">
          </ion-avatar>

      <ion-label> 
       
        <h3>{{ push.title }}</h3>
        <p>
          {{ push.body }}
        </p>
        <p>
          {{ push.additionalData | json }}
        </p>
      </ion-label>

     
    </ion-item>

     <ion-item-options side="start">
       <!-- <ion-item-option (click)="favorite(item)">Favorite</ion-item-option>
        <ion-item-option color="danger" (click)="share(item)">Share</ion-item-option>
      </ion-item-options>-->
       
        </ion-item-options>
        
      
      <ion-item-options side="end">
          <ion-item-option color="danger"> <!--(click)="borrar(n.notification.id)"-->
              <ion-icon slot="icon-only" name="trash"></ion-icon>
             
              </ion-item-option>
            </ion-item-options>    

    
  </ion-item-sliding>
  </ion-list>

</ion-content>
