<app-header titulo="Cambiar contraseña"> </app-header>

<ion-content>
  <!-- A la etiqueta form se le añade la propiedad [formGroup] para obtener los valores del formGroup completo -->
  <form [formGroup]="changePassGroup" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-item>
          <ion-label position="floating" class="password password ion-text-center">Nueva contraseña </ion-label>
          <!-- Se usa la propiedad [formControl] para obtener del input el valor y pasarlo al formControl 
               llamado "npass" perteneciente al formGroup changePassGroup. -->
          <ion-input [formControl]="changePassGroup.get('npass')" lines="none" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" class="password password ion-text-center">Confirmar contraseña </ion-label>
          <!-- Aplica lo mismo para el caso del formControl anterior. -->
          <ion-input [formControl]="changePassGroup.get('cnpass')" lines="none" type="password"></ion-input>
        </ion-item>
        <ion-button color="primary" (click)="onSubmit()">Guardar</ion-button>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
 