<ion-header>
  <ion-toolbar>
    <ion-title>modal-info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="clientEditGroup">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="tittle">Escoja sus gustos</ion-card-subtitle>
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-label>Gustos</ion-label>
        <ion-select multiple="true" okText="Ok" cancelText="Cancelar" (ionChange)="onPleasure($event)">
          <ion-select-option *ngFor="let entry of plea" [value]="entry.name">{{ entry.name }}</ion-select-option>
        </ion-select>
      </ion-item> 
    </ion-list> 
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="tittle">Escoja sus preferencias</ion-card-subtitle>
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-label>Preferencias</ion-label>
        <ion-select multiple="true" okText="Ok" cancelText="Cancelar" (ionChange)="onPreference($event)">
          <ion-select-option *ngFor="let p of pref" [value]="p.name">{{ p.name }}</ion-select-option>
        </ion-select>
      </ion-item> 
    </ion-list> 
  </ion-card>
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle class="tittle">Escoja su marca preferida</ion-card-subtitle>
      </ion-card-header>
      <ion-list>
        <ion-item>
          <ion-label>Marcas</ion-label>
          <ion-select multiple="true" okText="Ok" cancelText="Cancelar" (ionChange)="onBrand($event)">
            <ion-select-option *ngFor="let b of marc" [value]="b.name">{{ b.name }}</ion-select-option>
          </ion-select>
        </ion-item> 
      </ion-list> 
    </ion-card>
<ion-button expand="full" (click)="salirModal()">Cerrar</ion-button>
    </form>
</ion-content>
