<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="index"></ion-back-button>
        </ion-buttons>
        <ion-title>Iniciar sesión</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form novalidate="">
        <ion-grid>
            <ion-row justify-content-center>
                <ion-col>
                    <div text-center>
                        <img class="logo" src="../../../assets/logo.png" />
                    </div>
                </ion-col>

                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div text-center>
                        <ion-text color="light">
                            <h3>Iniciar Sesión</h3>
                        </ion-text>
                    </div>
                    <div padding>
                        <ion-item>
                            <ion-icon name="mail"> </ion-icon>
                            <ion-input name="email" [formControl]="emailFormControl" type="text" placeholder="Correo"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-icon name="lock"> </ion-icon>
                            <ion-input name="password" [formControl]="passFormControl" type="password" placeholder="Contraseña"></ion-input>
                        </ion-item>
                    </div>
                    <div padding>
                        <ion-button type="submit" (click)="login()" expand="block">Iniciar</ion-button>
                    </div>
                    <!--
              <div padding>
                  <ion-label> {{logged_user.email}}</ion-label>
                </div>-->
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div text-center>
                        <ion-text color="light" routerLink="/reset-password">
                            Recuperar contraseña
                        </ion-text>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>