<app-header titulo="Suscribirse"></app-header>

<ion-content padding>
    <ion-grid>
        <ion-row color="primary" justify-content-center>
            <ion-col>
                <div text-center>
                    <img class="logo" src="../../../assets/logo.png" />
                </div>
            </ion-col>

            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <form [formGroup]="subscribeGroup">
                    <ion-item>
                        <ion-icon name="ios-person"> </ion-icon>
                        <ion-input name="nombre" type="text" placeholder="Nombre" [formControl]="subscribeGroup.get('name')"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="md-people"> </ion-icon>
                        <ion-input name="apellido" type="text" placeholder="Apellido" [formControl]="subscribeGroup.get('lastname')"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="md-people"> </ion-icon>
                        <ion-select placeholder="Sexo" formControlName="gender" cancelText="Cancelar" okText="Aceptar">
                            <ion-select-option *ngFor="let gender of genders; let i = index;" [formControl]="subscribeGroup.get('gender')" [value]="gender[i]" ngDefaultControl>{{ gender }}</ion-select-option>
                            <!--</ion-select-option>value="f">Femenino</ion-select-option>
              <ion-select-option value="m">Masculino</ion-select-option>-->
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="mail"> </ion-icon>
                        <ion-input name="correo" type="email" placeholder="Correo" [formControl]="subscribeGroup.get('email')"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-icon name="calendar"> </ion-icon>
                        <ion-datetime placeholder="Fecha de nacimiento" display-format="D/MM/YYYY" picker-format="DMMMM YYYY" cancelText="Cancelar" doneText="Aceptar" monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
                            [formControl]="subscribeGroup.get('birth')"></ion-datetime>
                    </ion-item>
                    <div padding>
                        <ion-button type="submit" (click)="alertMesaage()" expand="block">Suscribirse</ion-button>
                    </div>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>