<app-header titulo="Enviar solicitud"></app-header>

<ion-content>
  <ion-grid>
    <ion-list>
        <ion-item>
            <ion-label>
              <strong>Fecha de solicitud: </strong>{{ fechaHoy | date: 'dd-MM-yyyy' }}
            </ion-label>
          </ion-item>
      <ion-item>
        <ion-label>
          <strong>Marca del equipo: </strong>{{ marcaEquipo }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Modelo de equipo:</strong> {{ modeloEquipo }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>
          <strong> Servicio solicitado:</strong> {{ nombreServicio }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong> Falla:</strong> {{ falla }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong> Fecha de revisión:</strong> {{ fecha }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong>Hora:</strong> {{ hora }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong> Promoción:</strong> {{ nombrePromocion }}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <strong> Rango de precio:</strong> La revision de tu equipo costará entre {{costo[0].minimo}}
          y {{costo[0].maximo}}
        </ion-label>
      </ion-item>
    </ion-list>
    <div class="centrado">
    <ion-button (click)="alertSendSol()" color="primary" shape="round">
      Aceptar
    </ion-button>
    <ion-button (click)="alertCancelSol()" color="medium" shape="round">
      Cancelar
    </ion-button>
  </div>
  </ion-grid>
</ion-content>     