.icons {
   font-size: 3em;
   color: white;
   border-style: dashed;
   padding: 12%;
}

ion-slides{
    background-image: linear-gradient(to bottom left,#1f5f8b, #18aca0) !important;
    height: 100%;
    color: white;
}

.button{
    margin: 0.5% 1.5% 0.5% 17%;
}

.pad {
    padding-left: 25%;
}

h2 {
    font-weight: bold;
}