<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start" color="fourth">
            <ion-button (click)="goToCatalog()" slot="icon-only">
                <ion-icon name="clipboard" mode="md" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button slot="icon-only" (click)="popover($event)">
                <ion-icon name="help-circle-outline" mode="ios" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title> Colossus </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides pager="true" [options]="slideOpts" mode="ios" fullscreen scroll-y="false">
        <ion-slide>
            <div>
                <ion-row>
                    <ion-col>
                        <img src="assets/img/modificacionescuatro1.fw.png" alt="Colossus">
                        <p>¿Deseas conocernos? Desliza para mayor información
                            <ion-icon name="arrow-forward" size="small"></ion-icon>
                        </p>
                    </ion-col>
                </ion-row>
            </div>
        </ion-slide>
        <ion-slide *ngFor="let info of ind">
            <div>
                <ion-row>
                    <ion-col>
                        <ion-icon name="{{ info.icon }}" mode="ios" class="icons"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <h2>{{ info.nombre }}</h2>
                        <p> {{ info.descrip }} </p>
                    </ion-col>
                </ion-row>
            </div>
        </ion-slide>
        <ion-slide>
            <div>
                <ion-grid>
                    <ion-row class="pad">
                        <ion-col size="4" align-self-start>
                            <ion-icon name="print" mode="ios" class="icons"></ion-icon>
                        </ion-col>
                        <ion-col size="4" align-self-start>
                            <ion-icon name="laptop" mode="ios" class="icons"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <ion-row class="pad" align-self-start>
                        <ion-col size="4">
                            <ion-icon name="phone-portrait" mode="ios" class="icons"></ion-icon>
                        </ion-col>
                        <ion-col size="4" align-self-start>
                            <ion-icon name="logo-game-controller-b" mode="ios" class="icons"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-row>
                    <ion-col>
                        <h2>Las mejores promociones</h2>
                        <p>Contamos con todo tipo de promociones en una gran variedad de equipos</p>
                    </ion-col>
                </ion-row>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>

<ion-footer>
    <ion-toolbar color="primary">
        <ion-grid>
            <ion-row>
                <ion-col size="6">
                    <ion-button mode="ios" routerLink="/suscribe" class="button">
                        <ion-icon name="create" mode="ios"></ion-icon> Suscribirse </ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button mode="ios" routerLink="/login" class="button">
                        <ion-icon name="log-in" mode="ios"></ion-icon> Ingresar </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>