<app-header titulo="Perfil"></app-header> 
<ion-content>
  <section class="center"> 
    <ion-avatar class="center">
      <img src="{{usuario.urlFoto}}">
    </ion-avatar>
    <ion-text color="primary">
      <h3>{{usuario.nombre}} {{usuario.apellido}}</h3>
    </ion-text>        
  </section>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="tittle">Datos personales</ion-card-subtitle>
    </ion-card-header>
    <ion-item-group>
      <ion-item>Documento de identidad: {{usuario.documentoIdentidad}}</ion-item>
      <ion-item>Correo: {{usuario.correo}}</ion-item>
      <ion-item><ion-textarea disabled="true">Dirección: {{usuario.direccion}}</ion-textarea></ion-item>
      <ion-item>Sexo: {{usuario.sexo}} </ion-item>
      <ion-item>Fecha de nacimiento: {{usuario.fechaNacimiento}} </ion-item>
      <ion-item>Teléfono: {{usuario.telefono}} </ion-item>
    </ion-item-group>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="tittle">Gustos</ion-card-subtitle>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let p of plea; let i = index;"> 
        <ion-label>{{ p.name }}</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="p.isChecked" disabled></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="tittle">Preferencias</ion-card-subtitle>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let entry of pref; let i = index;"> 
        <ion-label>{{ entry.name }}</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="entry.isChecked" disabled></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-card>
  <div class="centrado">
    <ion-button block color="secondary" routerLink="/profile-client-edit">
      <ion-icon name='md-open'></ion-icon>
      Editar perfil 
    </ion-button>
  </div>
</ion-content>
