<ion-menu side="start" menuId="firstMenu" contentId="principal" type="overlay">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Menú</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-menu-toggle>
                <ion-item routerLink="/profile-technical">Perfil
                    <ion-icon name="person" slot="start"></ion-icon>
                </ion-item>
                <ion-item routerLink="/revision">Revisión
                    <ion-icon name="construct" slot="start"></ion-icon>
                </ion-item>
                <ion-item (click)="alertLogout()">Cerrar sesión
                    <ion-icon name="exit" slot="start"></ion-icon>
                </ion-item>
            </ion-menu-toggle>

        </ion-list>
    </ion-content>
</ion-menu>