<app-header titulo="Detalle del servicio" color="primary"></app-header>

<ion-content *ngFor="let o of order">
    <ion-grid>
        <ion-list>
            <ion-item>
                <ion-label>
                    <ion-text><strong> Cliente:</strong></ion-text> {{ o.solicitudServicio.usuario.nombre }} {{ o.solicitudServicio.usuario.apellido }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-text><strong> Servicio:</strong></ion-text> {{ o.solicitudServicio.catalogoServicio.descripcion }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-text><strong> Marca del equipo:</strong></ion-text> {{ o.solicitudServicio.modeloEquipo.marca.nombre }}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-text><strong> Modelo del equipo:</strong></ion-text> {{ o.solicitudServicio.modeloEquipo.nombre}}
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-textarea><strong> Promoción:</strong> Dia del amor y la amistad</ion-textarea>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label>
                    <ion-textarea><strong> Problema del equipo:</strong>{{o.solicitudServicio.revision.diagnostico }}</ion-textarea>
                </ion-label>
            </ion-item>
        </ion-list>
        <ion-button expand="block" color="secondary" (click)="alertEndServ()">
            Finalizar Servicio
        </ion-button>
        <ion-button expand="block" color="secondary" routerLink="/my-services-schedule/{{id}}/{{o.usuario.id}}">
            Agendar Servicio
        </ion-button>
    </ion-grid>
</ion-content>