<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" text=""></ion-back-button>
        </ion-buttons>
        <ion-title>Solicitud</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <form novalidat [formGroup]="serviceGroup">
        <ion-grid>
            <ion-item color="secondary" *ngFor="let ser of service">
                <ion-label lines="none" text-wrap>
                    Servicio: {{ser.descripcion}}
                </ion-label>
            </ion-item>
            <div class="margin">
                <ion-item *ngIf="promotions.length != 0" color="success">¡¡¡Hay una promoción disponible!!!</ion-item>
                <ion-item color="secondary">
                    <ion-label position="floating">Promoción</ion-label>
                    <ion-select cancelText="Cancelar" okText="Seleccionar" required (ionChange)="generarLink()" [formControl]="serviceGroup.get('promocion')">
                        <ion-select-option *ngFor="let p of promotions" [value]="p">{{ p.nombre }}</ion-select-option>
                    </ion-select>
                </ion-item>
            </div>
        </ion-grid>
        <div padding>
            <ion-button expand="block" color="primary" type="submit" [disabled]="habilitarBoton" [routerLink]="['/create-equipment',nombreServicio, idPromocion, idServicio, nombrePromocion, idTipoEquipo]">
                Siguiente
            </ion-button>
        </div>
    </form>
</ion-content>