<ion-item class="child-item" text-wrap detail="false" lines="none">
  <ion-row no-padding >
    <ion-col size="12">
      <ion-row no-padding>
        <ion-col size="12">
          <p> {{ accordion.information }}</p> 
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-item>