<app-header titulo="Progreso de la reparación"></app-header>

<ion-content>
    <ion-grid>
        <div class="">
            <ul class="timeline">
                <li *ngFor="let act of timeline">
                    <div class="timeline-thumb bg-color-grey timeline-icon"></div>
                    <div class="timeline-item">
                        <p> {{ act.fechaActividad}} - {{ act.descripcion }} - {{ statusString }}</p>
                    </div>
                </li>
            </ul>
        </div>
    </ion-grid>
</ion-content>