<app-header titulo="Servicios ofrecidos"></app-header> 

<ion-content fullscreen #myContent>
  <ion-grid>
    <ion-row size="12">
      <ion-col size="6" *ngFor="let a of catalog?.actividades; let i = index;">
        <ion-card class="colors" *ngIf="catalog.length != 0">
          <div class="ion-text-center"> 
            <p>
              {{ a?.descripcion }}
            </p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
 