<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Garantía</ion-title>
  </ion-toolbar>
  <ion-toolbar >
    
  <ion-segment (ionChange)="segmentChanged($event)"  [(ngModel)]="section">
    <ion-segment-button checked value="garantia">
      <ion-label>Garantía</ion-label>
    </ion-segment-button>
    
    <ion-segment-button value="reclamos">
      <ion-label>Reclamos</ion-label>
    </ion-segment-button>
  </ion-segment>
  </ion-toolbar>
 
    
  
</ion-header>



<ion-content fullscreen #myContent>
  
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" class="animated fadeIn fast">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
 
  <div [ngSwitch]="section" selectedIndex="garantia"> 
      <ion-list  class="animated fadeIn fast" *ngSwitchCase="'garantia'">
          <ion-item *ngFor=" let gua of guarantee, let ter of term, let cla of claims | filter: findText: 'modelo'"
          routerLink= "/claims-detail/{{gua.id}}/{{ter.id}}/{{cla.id}}" detail>
          <ion-label>
            
          <h3>{{ gua.model }}</h3>
          <h3>{{ gua.service }}</h3>
          </ion-label>
          </ion-item>
        </ion-list>
  <ion-list *ngSwitchCase="'reclamos'">
      <ion-item *ngFor="let cla of claims, let gua of guarantee, let ter of term | filter: findText: 'modelo'"
      routerLink= "/guarantee-detail/{{gua.id}}/{{ter.id}}/" detail>
      <ion-label>
        
        <h3>{{cla.modelo }}</h3>
        <h3>{{ cla.descripcion }}</h3>
        
      </ion-label>
      </ion-item>
    </ion-list>
 

  </div>

</ion-content>
        