<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" text=""></ion-back-button>
        </ion-buttons>
        <ion-title>Servicios asignados</ion-title>
    </ion-toolbar>

    <ion-searchbar animated (ionChange)="find( $event )" class="searchbar-input"></ion-searchbar>
</ion-header>

<ion-content fullscreen #myContent>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" class="animated fadeIn fast">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


    <ion-list>
        <ion-item *ngFor="let s of order | filter: findText: 'servicio_nombre'" routerLink="/my-services-detail/{{s.id}}" detail>
            {{ s.solicitudServicio.catalogoServicio.descripcion }}
        </ion-item>
    </ion-list>


</ion-content>